@font-face {
    /* Noto Sans */
    font-family: "Roboto";
    font-display: fallback;
  
    /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot (오류예상함)
    */
    src: url("./Roboto-Regular.ttf") format("truetype"), 
         url("./Roboto-Regular.woff") format("woff"), 
         url("./Roboto-Regular.eot?iefix") format("embedded-opentype");
  
    /* 사용할 폰트의 기본 스타일 */
    font-weight: 400;
    font-style: normal;
  }